@use '../../scss/abstracts' as *;

.theme__button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: $font-13;
  font-weight: $font-weight-700;
  letter-spacing: 0.15625rem;
  cursor: pointer;

  @include themify($themes) {
    color: themed('color__theme-btn');
  }

  span {
    line-height: 0;
  }
}
