@use '../../scss/abstracts' as *;

.theme__button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: $font-13;
  font-weight: $font-weight-700;
  letter-spacing: 0.15625rem;
  cursor: pointer;
  transition: color 200ms ease-out;

  @include themify($themes) {
    color: themed('color__theme-btn');
  }

  &:hover {
    @include themify($themes) {
      color: themed('color__theme-hover-btn');
    }

    & > span svg path {
      @include themify($themes) {
        fill: themed('color__theme-hover-btn');
      }
    }
  }

  span {
    line-height: 0;
  }
}
