@use '../../scss/abstracts' as *;

.user {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  margin-inline: 1rem;
  border-radius: 15px;
  padding-inline: 2rem;
  padding-block: 2rem;
  color: #4b6a9b;
  margin-block-end: 5rem;
  overflow: auto;

  @include themify($themes) {
    background-color: themed('color__bg-card');
    color: themed('color__body-text');
  }

  @media only screen and (min-width: $breakpoint-tablet) {
    padding-inline: 2.5rem;
  }
  @media only screen and (min-width: $breakpoint-desktop) {
    padding-inline: 3rem;
    padding-block-start: 2.75rem;
    padding-block-end: 3rem;
  }

  &__profile {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    align-items: center;

    @media only screen and (min-width: $breakpoint-tablet) {
      column-gap: 2.5rem;
    }

    img {
      width: 5rem;
      height: auto;
      border-radius: 50%;

      @media only screen and (min-width: $breakpoint-tablet) {
        width: 7rem;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.35rem;

      @media only screen and (min-width: $breakpoint-desktop) {
        flex-direction: row;
        justify-content: space-between;
      }

      h1 {
        color: #2b3442;
        font-size: $font-16;

        @include themify($themes) {
          color: themed('color__heading');
        }

        @media only screen and (min-width: $breakpoint-tablet) {
          font-size: $font-26;
        }
      }

      &--created_at {
        font-size: $font-13;

        @include themify($themes) {
          color: themed('color__created-date');
        }

        @media only screen and (min-width: $breakpoint-tablet) {
          font-size: $font-15;
        }
        @media only screen and (min-width: $breakpoint-desktop) {
          margin-block-start: 0.5rem;
        }
      }

      &-login {
        color: #0079ff;
        font-size: 0.8125rem;

        @media only screen and (min-width: $breakpoint-tablet) {
          font-size: $font-16;
        }
      }
    }

    &-bio {
      grid-column: 1 / -1;
      margin-block-start: 2rem;
      margin-block-end: 2rem;

      @media only screen and (min-width: $breakpoint-tablet) {
        margin-block-start: 1.5rem;
      }

      @media only screen and (min-width: $breakpoint-desktop) {
        grid-column: 2 / -1;
        margin-block-start: 0;
      }

      p {
        line-height: $line-height-25;
        font-size: $font-13;

        @media only screen and (min-width: $breakpoint-tablet) {
          font-size: $font-15;
        }
      }
    }

    &-stats-links {
      grid-column: 1 / -1;

      @media only screen and (min-width: $breakpoint-desktop) {
        grid-column: 2 / -1;
      }
    }

    &-stats {
      display: flex;
      justify-content: space-evenly;
      border-radius: 10px;
      padding-block: 1rem;
      padding-inline: 0;
      list-style-type: none;
      margin: 0;

      @include themify($themes) {
        background-color: themed('color__bg');
      }

      @media only screen and (min-width: $breakpoint-tablet) {
        justify-content: space-between;
        padding-inline-start: 2rem;
        padding-inline-end: 6rem;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (min-width: $breakpoint-tablet) {
          align-items: flex-start;
        }

        h4 {
          font-weight: 400;
          font-size: 0.6875rem;

          @include themify($themes) {
            color: themed('color__body-text');
          }

          @media only screen and (min-width: $breakpoint-tablet) {
            font-size: $font-13;
          }
        }

        p {
          font-weight: $font-weight-700;

          @include themify($themes) {
            color: themed('color__heading');
          }

          @media only screen and (min-width: $breakpoint-tablet) {
            font-size: $font-22;
          }
        }
      }
    }

    &-link {
      margin-block-start: 1.5rem;

      &-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;

        @media only screen and (min-width: $breakpoint-tablet) {
          grid-template-columns: 1fr 1fr;
          row-gap: 0.95rem;
          column-gap: 1rem;
        }
        @media only screen and (min-width: $breakpoint-desktop) {
          column-gap: 2rem;
        }

        li {
          display: grid;
          grid-template-columns: auto 1fr;
          align-items: center;
          column-gap: 1.2rem;
          @include themify($themes) {
            color: themed('color__body-text');
          }

          @media only screen and (min-width: $breakpoint-tablet) {
            column-gap: 1rem;
          }

          p {
            font-size: $font-13;

            @media only screen and (min-width: $breakpoint-tablet) {
              font-size: $font-15;
            }
          }

          & > a {
            font-size: $font-13;

            @media only screen and (min-width: $breakpoint-tablet) {
              font-size: $font-15;
            }
          }

          span {
            line-height: 0;

            svg path {
              @include themify($themes) {
                fill: themed('color__body-text');
              }
            }
          }

          a {
            &:link,
            &:visited,
            &:active {
              text-decoration: none;
              color: #4b6a9b;
              transition: all 0.2s ease-in;
              cursor: pointer;

              @include themify($themes) {
                color: themed('color__body-text');
              }
            }

            &:hover {
              color: hsla(217, 35%, 45%, 1);
              text-decoration: underline;
            }

            &[aria-disabled='true'] {
              text-decoration: none;
              cursor: initial;
            }
          }

          &.field_empty {
            p {
              @include themify($themes) {
                color: themed('color__not-available');
              }
            }
            span {
              svg path {
                fill: hsla(217, 35%, 45%, 0.5);
                // opacity: 0.5;
                @include themify($themes) {
                  fill: themed('color__not-available');
                }
              }
            }
            a {
              @include themify($themes) {
                color: themed('color__not-available');
              }
            }
          }
        }
      }
    }
  }
}

.user__profile-bio.field_empty {
  @include themify($themes) {
    color: themed('color__not-available');
  }
}
