@use '../abstracts' as *;

body {
  font-family: $ff-base;
  background-color: #f6f8ff;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;

  @include themify($themes) {
    background-color: themed('color__bg');
  }
}

// .wrapper {
//   max-width: 35rem;

//   @media only screen and (min-width: $breakpoint-desktop) {
//     max-width: 50rem;
//   }
// }
