@use '../../scss/abstracts' as *;

.search {
  padding-inline: 1rem;
  margin-block-end: 1.5rem;

  &__form {
    display: flex;
    align-items: center;
    gap: 0.5ch;
    background-color: #fefefe;
    border-radius: 15px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);

    &-icon-container {
      margin-inline-start: 0.75rem;
      line-height: 0;

      @media only screen and (min-width: $breakpoint-tablet) {
        margin-inline-start: 2rem;
      }
    }

    &-input {
      border: none;
      background-color: transparent;
      color: #4b6a9b;
      font-size: $font-13;
      flex: 1;
      outline: none;
      line-height: $line-height-25;
      width: 80%;

      @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 1.125rem;
        line-height: $line-height-25;
      }

      &::placeholder {
        font-size: $font-13;
        line-height: $line-height-25;
        color: #4b6a9b;

        @media only screen and (min-width: $breakpoint-tablet) {
          font-size: 1.125rem;
          line-height: $line-height-25;
        }
      }
    }

    &-btn {
      background-color: #0079ff;
      color: #fff;
      border: none;
      border-radius: 10px;
      margin-block: 0.5rem;
      margin-inline-end: 0.5rem;
      padding-inline: 1rem;
      padding-block: 0.85rem;
      font-weight: 700;
      font-size: 0.875rem;
      cursor: pointer;
      transition: background-color 100ms ease-in;

      &:hover {
        background-color: hsla(212, 100%, 69%, 1);
      }

      @media only screen and (min-width: $breakpoint-tablet) {
        font-size: 1rem;
        padding-inline: 1.5rem;
      }
    }
  }
}

.no-search-results {
  color: hsla(0, 91%, 62%, 1);
  font-weight: 700;
  font-size: 0.9375rem;
  // font-size: 0.5rem;
  line-height: normal;

  @media only screen and (min-width: $breakpoint-tablet) {
    margin-inline-end: 1rem;
  }
}
